---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

* { margin: 0; padding: 0;}
body {
	font-family:Tahoma, Geneva, sans-serif;
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
}


div.header {
  width: 100%;
  top: 0px;
	left: 0px;
  position: absolute;
	height: 200px;

  div#name {
		font-family: 'Montserrat', sans-serif;
    color: #f2f9f9;
    float: left;
		width: 100%;
		font-size: 28px;
		text-align: center;
		font-variant-caps: small-caps;
		padding: 10px;
		text-shadow: 0px 5px 16px #000000;
  }
}

canvas#c {
	display: none;
	z-index: -1;
}
img#bg {
  display: block;
	width: 100%;
	height: auto;
	position: fixed;
	z-index: -1;
}
img#bg.card{
	display: none;
}

div.slash {
	z-index: 0;
	-ms-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
	width: 120%;
	background: #404a4a;
	height: 68px;
	position: absolute;
	top: 190px;
	left: -10%;;
}


div.content {
	z-index: 1;
	background: #404a4a;
	width: 100%;
	z-index: 10;
	top: 200px;
	min-height: 80%;
	position: absolute;

	article.post {
		width: 80%;
		font-size: 14px;
		padding-top: 20px;
		margin-left: 10%;

		h1 {
			color: #FFF;
			font-size: 30px;
	    margin-top: -15px;
	    margin-bottom: 30px;
	    font-family: "Montserrat";
		}

		p {
			margin: 10px;
			color: #FFF;
			text-align: left;
			font-size: 14px;
			line-height: 20px;
		}

		p:first-child:first-letter {
		  color: $red;
		  float: left;
		  font-family: 'Montserrat', sans-serif;;
		  font-size: 36px;
			font-weight: 900;
		  line-height: 20px;
		  padding-top: 6px;
		  padding-right: 8px;
		  padding-left: 3px;
		}

		p a {
				color: $red;
				text-decoration: none;
				font-weight: bold;
		}

		img {
			width: 100%;
			border: #FFF 5px solid;
			margin: 10px;
		}
	}

	div.post-holder {
		width: 100%;
		min-height: 500px;
		background: #253131;
		-webkit-clip-path: polygon(0 20px, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 20px, 100% 0, 100% 100%, 0% 100%);
		padding: 30px;
		margin-top: 40px;

		div.posts {
			margin: 0 auto;
			width: 80%;

			div.post-card {
				float: left;
				width: 120px;
				height: 120px;
				background: #FFF;
				margin: 10px;
				text-decoration: none;

				a div.circle {
					background: $green;
					border-radius: 50%;
					width: 26px;
					height: 26px;
					font-size: 23px;
					padding-left: 2px;
					margin-left: -18px;
					margin-bottom: -26px;
					top: -9px;
					left: 120px;
					position: relative;
					z-index: 3;
				}

				a div.circle:hover {
					cursor: pointer;
				}

				div.picture-box {
					top: 0;
					width: 120px;
					height: 50px;
					overflow:hidden;
					-webkit-clip-path: polygon(0 0, 100% 0, 100% 50px, 0 40px);
		  		clip-path: polygon(0 0, 100% 0, 100% 50px, 0 40px);
				}
				img {
					width: 100%;
					height: auto;
				}
				h1 {
					width: 100px;
			    padding: 10px;
			    height: 60px;
			    margin-bottom: 112px;
				}
				h1 a {
					color: $red;
					text-decoration: none;
				}
				p.tag {
					width: 100px;
					margin-left: 10px;
					height: 18px;
					padding-top: 4px;
					color: #FFF;
					text-transform: uppercase;
					font-size: 10px;
					background: #000;
					text-align: center;
					-ms-transform: rotate(2deg);
					-webkit-transform: rotate(2deg);
					transform: rotate(2deg);
					margin-top: -15px;
				}
				p.tag[type="Web Design"]{ background: #3377ff; }
				p.tag[type="Programming"]{ background: #8e21bc; }
				p.tag[type="Hardware"]{ background: #374c48; }
			}
		}

	}

	div.jobs {
		margin: 0 auto;
		width: 80%;
		min-height: 500px;

		div.job {
			float: left;
		}
	}
}

@media (min-width: 700px) {
	div.header {
		height: 500px;

	  div#name {
			text-align: left;
			font-size: 50px;
			font-variant-caps:small-caps;
			padding: 40px;
	  }
	}

	canvas#c {
		display: block;
		width: 110%;
		height: 100%;
		position: fixed;
		top: 0;
		left: -5%;
	}
	img#bg {
		display: none;
	}
	div.slash {
		height: 68px;
		top: 460px;
	}

	div.content {
		width: 100%;
		top: 500px;

		article.post {
			max-width: 600px;
			margin: 0 auto;

			h1 {
				margin-top: -25px;
			}

			p {
				line-height: 26px;
				font-size: 18px;
			}

			p:first-child:first-letter {
			  font-size: 60px;
			  line-height: 48px;
			  padding-top: 0px;
			  padding-right: 8px;
			  padding-left: 3px;
			}

			img {
					margin: 20px;
			}
			img.full {
				width: 600px;
			}
			img.left {
				margin-left: -150px;
				width: 300px;
				float: left;
			}
			img.right {
				margin-right: -150px;
				width: 300px;
				float: right;
			}
		}

		div.post-holder{
			div.posts {
				width: 600px;
			}
		}

		div.jobs {
			width: 600px;

			div.job {
				width: 240px;
				background: #FFF;
				height: 120px;
				margin: 30px;
			}
		}
	}
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
