/*Logo Color: #363f65 #efb630*/
body {
	width:100%;
	margin:0;
	font-family: 'Slabo 27px', serif;
	background: #1c1c1c;
}
#container {
	width: 600px;
	margin:0 auto;
}

/*---------HEADER---------*/

#slide-backer {
	width: 600px;
	height: 75px;
	background: #FFF;
	z-index: 4;	
	position: fixed;
	border-bottom: 4px solid #FFF;
}
#slide-title {
	width: 600px;
	height: 53px;
	background: #FFF;
	z-index: 7;	
	position: fixed;
	font-size: 24px; /*27*/
	font-weight: bold;
	color:#FFF;
	opacity: 0;
	padding-top: 22px;
	text-align: center;
	text-shadow: 0px 1px 10px #000000;
	background: rgba(255,255,255,0);
}
#slideshow {
	width:600px;
	position:fixed;
	height: 200px;
	overflow: hidden;
	z-index:5;
	top:0;
}
#slideshow img {
	-webkit-filter: blur(0px);
	width: 700px;
	min-height: 220px;
	margin-top: -220px;
	margin-left: -50px;
	position:absolute;
	z-index:5;
}
#slideshow img.active {
	z-index:7;
}
.burger-holder {}
#burger {
	position: absolute;
	width: 30px;
	height: 25px;
	margin-top: 155px;
	z-index: 11;
	opacity: .9;
}
#menu-click:active #burger {
	opacity: .5;
}
#logo {
	margin-top:50px;
	width:200px;
	left:50%;
	margin-left: -100px;
	position: absolute;
	z-index: 12;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border: 5px solid #FFF;
}
p#banter {
	font-style: italic;
	color:#000;
	z-index: 10;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	padding-right: 5px;
	color: #FFF;
	text-shadow: 0px 1px 10px #000000;

}


/*----------CONTENT--------*/

#content {
	margin-left: auto;
	margin-right: auto;
	width:95%;
	height: 100%;
	padding-top:240px;
	background: #FFFFFF;
	padding-left: 2.5%;
	padding-right: 2.5%;
}
h1 {
	line-height: 95%;
}
p {
	margin-top: -23px;
	font-family: 'Open Sans','Helvetica', sans-serif;
}
a.article {
	color: inherit;
	font: inherit;
	text-decoration: inherit;
}
a.article:active {
	color:#363f65; /*efb630*/
}


/*------------MENU----------*/

#menu {
	background: #111;
	width: 100%;
	z-index: 20;
	top:-100%;
	position: fixed;
	height: 385px;
	border-bottom: 2px #000 solid;
}
#menu ul {
    list-style-type: none;
    padding-left:0;
    height: 100%;
    margin-top: 0px;
    width: 100%;
}
#menu ul li {
	color:#FFF;
	height:45px;
	padding-top: 10px;
	text-align: center;
	font-size: 27px;
	font-weight: bold;
	margin-top: 0px;
	background: #111;
	width: 100%;
}
#menu ul li:active {
	background: #000;
	color: #EEE;
}
#menu a {
	color: inherit;
	font: inherit;
	text-decoration: inherit;
}

/*----------ARTICLES------------*/

#content.article-body {
	margin-left: auto;
	margin-right: auto;
	width:95%;
	height: 100%;
	padding-top:240px;
	background: #FFFFFF;
	padding-left: 2.5%;
	padding-right: 2.5%;	
}
.article-body h1 {

}
.article-body p {
	margin-top: 0px;
}
.article-body img{
	width:100%;
	margin-bottom: 10px;
}