---
---

//
// IMPORTS
//

@import "reset";
@import "theme";

// Syntax highlighting @import is at the bottom of this file

a {
  color: #cc0809;
  text-decoration: none;
}

html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;

  .full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    pointer-events: none;
    z-index: 100;
    background-image: url(/files/images/bg/noise.png);
    background-position: left top;
    opacity: 0.8;
  }

  #content {
    height: 100%;
    width: 100%;
    position: relative;

    // .slide {
    //   width: 100%;
    //   position: relative;
    // }
  }
}

// md
@media only screen and (min-width: 576px) {
  body {
    overflow: unset;
    #content {
      top: 300%;
      z-index: 3;
    }
  }
}

// lg
@media only screen and (min-width: 768px) {
  .hidden-lg {
    display: none;
  }
}

@import "header";
@import "slide-0-splash";
@import "slide-1-personal";
@import "slide-2-experience";
@import "slide-3-projects";
@import "slide-4-contact";

@import "multipass";
@import "ruler";
