---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "fonts";
@import "backgrounds";
@import "animations";
@import "shapes";

// Syntax highlighting @import is at the bottom of this file

a {
  color: #cc0809;
  text-decoration: none;
}

html {
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;

  .full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    pointer-events: none;
    z-index: 100;
  }

  .header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 40px;

    .logo-holder {
      width: 100px;
      height: 40px;
      cursor: pointer;

      .logo {
        margin: 20px;
      }
    }
  }

  #content {
    height: 100%;
    width: 100%;
    position: relative;

    .slide {
      width: 100%;
      position: relative;
    }
  }
}

// md
@media only screen and (min-width: 576px) {
  #content {
    top: 300%;
    z-index: 3;
  }
}

// lg
@media only screen and (min-width: 768px) {
  .hidden-lg {
    display: none;
  }
}

@import "splash";
@import "slide-1-personal";
@import "slide-2-experience";
@import "slide-3-projects";
@import "slide-4-skills";
@import "slide-5-contact";
@import "multipass";

@import "highlights";
@import "svg-icons";
