<div class="multipass">
  <div class="white-card">
    <div class="multipass-title">MULTI PASS</div>
    <div class="picture picture-left"></div>
    <div class="picture picture-right"></div>
    <div class="bio">
      <div class="name">Peter Flanagan</div>
      <div class="address yellow">
        Brooklyn . NY . USA<br />
        Planet Earth<br />
        pjflanagan1@gmail.com 
      </div>
      <div class="traits">
        Species: Human . Age: <span id="age"></span><br />
        Carrer Chip: Software Developer <br />
        Edu: University of Michigan
      </div>
      <div class="occupation yellow">Software Developer</div>
      </div>
      <div class="links"></div>
    </div>
    <div class="top-square">
      <div class="top-square-bar"></div>
    </div>
    <div class="bottom-square">
      <div class="bottom-square-white"></div>
    </div>
    <div class="bottom-left-circle-grey"></div>
    <div class="bottom-left-circle-yellow">
      <div class="bottom-left-circle-shine"></div>
    </div>
    <div class="stripes"></div>
  </div>
</div>
<script>
  const ageDifMs = Date.now() - new Date("August 11, 1996").getTime();
  const ageDate = new Date(ageDifMs); // miliseconds from epoch
  const age = Math.abs(ageDate.getUTCFullYear() - 1970);
  $('span#age').text(age);
</script>