<div class="multipass">
  <div class="white-card">
    <div class="multipass-title">MULTI PASS</div>
    <div class="picture picture-left">
      <div class="number">A5805757</div>
    </div>
    <div class="picture picture-right">
      <div class="number">C4765536</div>
    </div>
    <div class="bio">
      <div class="name">Peter Flanagan</div>
      <div class="address yellow">
        {{ site.location.city }} . {{ site.location.state }} . {{ site.location.country }}<br />
        Planet Earth<br />
        Orion Arm . Milky Way
      </div>
      <div class="traits">
        Species: Human . Age: <span id="age"></span><br />
        Speed: Moderate <br />
        Strength: Reasonable <br />
        Looks: Adequate
      </div>
      <div class="occupation yellow">pj@pjflanagan.me</div>
    </div>
    <div class="blue-bar">
    </div>
  </div>
  <div class="top-square">
    <div class="top-square-bar"></div>
  </div>
  <div class="bottom-square">
    <div class="bottom-square-white"></div>
  </div>
  <div class="bottom-left-circle-grey"></div>
  <div class="bottom-left-circle-yellow">
    <div class="bottom-left-circle-shine"></div>
  </div>
  <div class="stripes"></div>
</div>