
<div id="bill">
  <div class="bill-body">
    <div class="hat"></div>
    <div class="triangle top-left"></div>
    <div class="triangle top-right"></div>
    <div class="triangle bottom-left-top"></div>
    <div class="triangle bottom-left-bottom"></div>
    <div class="triangle bottom-right-top"></div>
    <div class="triangle bottom-right-bottom"></div>
    <div class="rotater">
      <div class="eye"></div>
    </div>
    <div class="arm arm-left"></div>
    <div class="arm arm-right"></div>
    <div class="legs"></div>
  </div>
</div>