<div class="slide-personal">
  <div class="slide-personal-side-left">
    <div id="personal-photo" class="personal-photo"></div>
  </div>
  <div class="slide-personal-side-right">
    <h1>Hi, I'm Peter</h1>
    <h1 class="hide-sm">Hi, I'm Peter</h1>
    <p>
      I'm a software engineer, <span class="photo-link">rollerblader</span>,
      <span class="photo-link">rock climber</span>, hot sauce enthusiast, and
      Mandarin student living in New York. I fell in love with web design and
      development at a young age and have been having fun with it ever since.
    </p>
    <p class="hide-sm">
      <!-- I work  -->
    </p>
  </div>
</div>
