<div class="slide-experience">
  <!-- lg: white-grey-radial-gradient -->
  <h1>Experience</h1>
  <div class="slide-body">
    <h2>Career</h2>
    {% for job in site.data.jobs %}
    <div class="segment">
      <div class="image-holder {{ job.className }}">
        <img src="{{ site.baseurl }}/files/images/experience/{{ job.image }}" />
      </div>
      <div class="segment-left">
        <div class="org {{ job.className }}">{{ job.company }}</div>
        <div class="location">{{ job.location }}</div>
        <div class="time">{{ job.time }}</div>
      </div>
      <div class="segment-right">
        <div class="position">{{ job.position }}</div>
        {% for line in job.description %}
        <p class="description">{{ line }}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    <h2>Education</h2>
    {% for school in site.data.education %}
    <div class="segment">
      <div class="image-holder {{ school.className }}">
        <img
          src="{{ site.baseurl }}/files/images/experience/{{ school.image }}"
        />
      </div>
      <div class="segment-left">
        <div class="org {{school.className}}">{{ school.name }}</div>
        <div class="location">{{ school.location }}</div>
        <div class="time">{{ school.class }}</div>
      </div>
      <div class="segment-right">
        <div class="position">{{ school.degree }}</div>
        {% for line in school.description %}
        <p class="description">{{ line }}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    <h2>Skills</h2>
    <h3>Languages</h3>
    {% for item in site.data.skills.languages %}
    <div class="skill">
      <div class="name">{{item.name}}</div>
      <div class="loader" style="width:{{item.progress}}%"></div>
    </div>
    {% endfor %}
    <h3>Frameworks</h3>
    {% for item in site.data.skills.frameworks %}
    <div class="skill">
      <div class="name">{{item.name}}</div>
      <div class="loader" style="width:{{item.progress}}%"></div>
    </div>
    {% endfor %}
    <h3>Tools</h3>
    {% for item in site.data.skills.tools %}
    <div class="skill">
      <div class="name">{{item.name}}</div>
      <div class="loader" style="width:{{item.progress}}%"></div>
    </div>
    {% endfor %}
  </div>
</div>
