
<div id="blueprint-1" class="slide-projects-decoration blueprint decoration-1">Arc Reactor</div>
<div id="blueprint-2" class="slide-projects-decoration blueprint decoration-2">Portal Gun</div>
<div class="slide-projects blueprint">
  <h1>Projects</h1>
  <!-- TODO: we want this to be a popup with more details eventually -->
  <div class="slide-body">
    {% for project in site.data.projects %}
    <div class="project">
      <div class="project-image"
        style="background-image: url('{{ site.baseurl }}/files/images/projects/{{ project.image }}')"
      ></div>
      <div class="info">
        <a href="//{{project.link}}" target="_blank">
          <h2 class="name">{{ project.name }}</h2>
        </a>
        <p class="description">{{ project.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% include ruler.html %}
</div>
