
<script src="/canvas/helpers.js"></script>
<script src="/canvas/canvas.js"></script>

<div id="splash">
  <div class="title-container" id="splash-title">
    <div class="name">{{ site.name }}</div>
    <div class="description">{{ site.description }}</div>
  </div>
  <!-- <div class="splash-footer">
    <div class="prompt hoverable transitionable" id="scroll-down">
      Initialize hard drive engine...
    </div>
    <div class="footer-links"></div>
    <div class="footer-bottom dot-grid-tight-white"></div>
  </div> -->
  <canvas id="pix"></canvas>
</div>