body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#splashscreen {
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	background: #00274c; /*U-M BLUE*/
	z-index: 0;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#splashscreen img#logo{
	z-index:2;
}
#logo-holder {
	width: 469px;
	height: 500px;
	top:50%;
	left:50%;
	margin-top: -250px;
	margin-left: -234px;
	position: absolute;
	overflow: hidden;
	background: #010817; /*#00294e; OFF BLUE*/
}
#logo-holder #filler {
	background: #ffcb05; /*U-M MAIZE*/
	height:0px;
	margin-top:0px;
	z-index:1;
}
#bg {
	width: 100%;
	height:100%;
	z-index: 4;
	position: fixed;
	top:0;
	left:0;
	display: none;
	background-image: url('bg-1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#footer {
	position: fixed;
	bottom: -40px;
	padding-top: 10px;
	height: 30px;
	width: 100%;
	left: 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	z-index: 20;
}
#footer table {
	margin: 0 auto;
}
#footer table tr td {
	color: #ffcb05;
	-webkit-text-stroke: 1px #ffcb05;
	width:120px;
	text-align: center;
	cursor: pointer; cursor: hand;
	margin-left: 0px;
	margin-right: 0px;
	font-style: 12px;
}
#scroller {
	width:120px;
	height: 25px;
	bottom: 5px;
	z-index: 19;
	position: fixed;
	background: #00274c; /*U-M BLUE*/
	left:-200px;
}
.slide {
	width:100%;
	height: 100%;
	position: relative;
	z-index:4;
	top:100%;
	left:0;
	margin-left:-8px;
	color:#FFF;
	margin-top: 750px;
	background: #010817; /*DARK BLUE*/
}
.headline {
	font-family: "Montserrat";
	font-size: 60px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: #ffcb05;
}
.subline {
	font-family: 'Oleo Script', cursive;
	font-size: 38px;
	width: 100%;
	margin-top: -20px;
	position: absolute;
	text-align: center;
}
.slide p.p1 {
	padding-top: 30px;
}
.slide p {
	margin-left: 30px;
	margin-right: 51%;
	font-family: "Montserrat";
	font-size: 14px;
	text-align: justify;
}
.half-left {
	position: absolute;
	width: 50%;
	left: 0;
}
.half-right{
	position: absolute;
	width: 50%;
	left: 50%;
}
.half-left p{
	margin-left: 30px;
	margin-right: 30px;
	font-family: "Montserrat";
	font-size: 14px;
	text-align: justify;
}
.half-right p{
	margin-left: 30px;
	margin-right: 30px;
	font-family: "Montserrat";
	font-size: 14px;
	text-align: justify;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.link {
	width: 160px;
	background: #ffcb05;
	font-family: "Montserrat";
	color: #010817;
	height: 25px;
	padding-top: 5px;
	text-align: center;
	font-weight: bold;
	cursor: pointer; cursor: hand;
	margin-left: 20px;
	margin-top: 20px;
	float:left; display:inline;
}
.link:hover {
	color:#FFF;
}
.link:active {
	background: #00274c;
	color:#FFF;
}
.link.social#twitter {
	background: #55acee;
}
.link.social#facebook {
	background: #3b5598;
}
.link.social#donate {
	background: #65dd65;
}








/*
.social-box {
	width: 46%;
	height: 100px;
	position: absolute;
	left: 52%;
	border: #000 1px solid;
	cursor: pointer; cursor: hand;
}
.social-box#twitter {
	top:120px;
	background: #55acee;
	height: 80px;
	padding-top: 20px;
	font-family: "Montserrat";
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.social-box#facebook {
	top:250px;/*120+100+30
	background: #3b5998;
	height: 80px;
	padding-top: 20px;
	font-family: "Montserrat";
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.social-box#donate {
	background: #65dd65;/*#216C2A;
	top:380px;
	height: 80px;
	padding-top: 20px;
	font-family: "Montserrat";
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.social-box:hover{
	color: #000;
}
.social-box:active{
	opacity: .7;
*/