
.transitionable {
  transition: all .2s;
  -webkit-transition: all .2s;
}

.hoverable {
  cursor: pointer;
}

@keyframes wiggle {
  0% { transform: rotate(-8deg); }
 50% { transform: rotate(8deg); }
100% { transform: rotate(-8deg); }
}

.wiggle {
  animation: wiggle 8s infinite;
}