.svg-icon {
  background-size: cover;
  display: inline-block;

  &.email         { background-image: url(/files/images/icon/iconmonstr-email-10.svg); }
  &.github        { background-image: url(/files/images/icon/iconmonstr-github-1.svg); }
  &.linkedin      { background-image: url(/files/images/icon/iconmonstr-linkedin-3.svg); }
}
