@charset "UTF-8";
/* CSS Document */
body {
	width:100%;
	margin:0;
	color:#FFF;
	font-family: "Montserrat";
	overflow:hidden;
}
.slide {
	width: 100%;
	margin-top: 0px;
	height: 110%;
	top:0;
	position: absolute;
	background-size:auto 100%;
	background-position: center;
}
.slide#s1 {
	background: #FFF;
	z-index: 1;
	font-weight: bold;
	width: 100%;
	left:0;
}
.slide#s1 .title{
	width: 100%;
	top:40%;
	font-size: 100px;
	position: absolute;
	text-align: center;
	color: #1c1c1c;
}
.slide#s1 .prompt {
	width: 100%;
	top:60%;
	font-size: 24px;
	position: absolute;
	text-align: center;
	color: #1c1c1c;
}
.slide#s2 {
	/*background:linear-gradient(
			rgba(0, 0, 0, 0.7), 
			rgba(0, 0, 0, 0.7)
		), url('bg/bg-1.jpg');
	background-size:auto 100%;
	background-position: center;*/
	z-index:2;
	left:100%;
	background:#001234;
}
.slide#s3 {
	z-index:3;
	left:200%;
	background:#888;
}

