body {
	overflow:hidden;
	font-family: 'Montserrat', sans-serif;
}

* { margin: 0; padding: 0;}

#pix {
	display: block;
	background: #000000;
	position: fixed;
}
img#head-shot {
	top:50%;
	margin-top:-250px;
	width:300px;
	left:50%;
	margin-left: -150px;
	position: fixed;
	z-index: 1;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border: 2px solid #FFF;
	opacity: 1;
}
#name {
	font-size: 50px;
	font-weight: bold;
	color:#FFF;
	text-align: center;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: 50px;
	position: fixed;
}
#sub-title {
	font-size: 20px;
	font-weight: bold;
	color:#FFF;
	text-align: center;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: 110px;
	position: fixed;
}
#sub-title a:hover{
	text-decoration: underline;
}
#content {
	top: 100%;
	z-index: 2;
	width: 100%;
	background: #FFF;
	height: 100%;
	position: absolute;
}
/*
img#bg
	background: url("assets/header-2.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-filter: blur(10px);
}
*/
a { color: inherit; text-decoration: inherit; }
