@charset "UTF-8";
/* CSS Document */
body{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	margin:0;
	height:100%;
	width:100%;
	font-size:100%;
background:#314159;
overflow-x:hidden;
}
div{
	float:left;
	width:10%;padding-bottom:10%;
	height:0;
	z-index:1;
}
header{
	position:fixed; z-index:3;
	font-family:Arial, Helvetica, sans-serif; font-size:150px; color:#FFF;
	font-weight:bold; text-align:center;
	background:none; pointer-events:none;
	top:50%;left:50%; width:800px; height:200px;
	margin-top:-120px;
	margin-left:-400px;
}
footer{
	position:fixed;
	left:50%;
	margin-left:-150px;
	z-index:2;
	bottom:0;
	width:301px;
	height:50px;
	background:#FFF;
	font-family:Arial, Helvetica, sans-serif; font-size:40px; color:#314159;
	font-weight:bold; text-align:center;
}